<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İcarə</title>
    <link rel="stylesheet" href="~/PublicFront/Vendors/Css/style.css">
    <link rel="stylesheet" href="~/PublicFront/Vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/PublicFront/Vendors/font-awesome/css/all.css">
</head>

<body id="mob-version">
    <!-- ============
    NabBar
    ============ -->

    <nav id="NavBar" class="resp-mobile">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img style="width:100%" src="~/PublicFront/Vendors/image/logo.png" alt="icare platform" />
                </div> 
                <div class="col-md-7">
                    <div class="MenuList">
                        <ul>
                            <li><a href="https://localhost:44375/Home/Index">Əsas səhifə</a></li>
                            <li><a href="#">Xidmətlər</a></li>
                            <li><a href="https://localhost:44375/Home/About">Haqqımızda</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="https://localhost:44375/Home/Contact">Əlaqə</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="MenuEnter">
                        <ul>
                            <li><a href="https://localhost:44375/Account/Login">Giriş</a></li>
                            <li><a href="https://localhost:44375/Account/Register">Qeydiyyat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="icon-bar float-right">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img style="width:100%; margin-top:1rem" src="~/PublicFront/Vendors/image/logo.png" alt="Alternate Text" />
                </div>
                <div class="col-6">
                    <a  href="#" onclick="barMenuOpenFunc()">
                        <i style="margin-top: 1rem" class="fas fa-bars fa-2x d-flex justify-content-end"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu" id="menu-bar">
        <div>
            <a href="#" onclick="barMenuCloseFunc()" class="float-right m-4">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>

        <div class="pt-5 mobile-menu-div">
            <ul class="mobile-menu-list">
                <li><a href="https://localhost:44375/Account/Login">Giriş</a></li>
                <li><a href="https://localhost:44375/Account/Register">Qeydiyyat</a></li>
                <li><a href="https://localhost:44375/Home/Index">Əsas səhifə</a></li>
                <li><a href="#">Xidmətlər</a></li>
                <li><a href="https://localhost:44375/Home/About">Haqqımızda</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="https://localhost:44375/Home/Contact">Əlaqə</a></li>
            </ul>
            <div class="sosialIcon d-flex justify-content-center">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/onlineicare/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/online-icare-a007b11b3/"><i class="fab fa-linkedin"></i></a>
                <a href="https://t.me/VagifIbra"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- ============
    Footer Start
    ============ -->
    <div class="FooterSec">
        <!-- =============      AppİnfoSection start   ============= -->
        <section class="AppStore">
            <div class=" container">
                <div class="row">
                    <div class="AppStoreInfo">
                        <h6>
                            "İlk online icarə ödəmə portalı mobil tətbiqini təqdim edirik. Mobil tətbiqdən istifadə
                            edərək<br>
                            vaxtınıza qənaət edib,
                            kira ödənişlərinizi güvənlə həll edin.”
                        </h6>
                        <a href="#"><img style="width:10%" src="~/PublicFront/Vendors/image/app-store.png" alt="Apple-store"></a>
                        <a href="#"><img style="width:10%" src="~/PublicFront/Vendors/image/google.png" alt="Google-store"></a>
                    </div>
                </div>
                <img class="PhoneImg" src="~/PublicFront/Vendors/image/phone.png" alt="">
            </div>

        </section>


        <div id="layoutAuthentication_footer">
            <footer class="py-5 bg-light">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">

                        @RenderSection("Logo", required: false)

                        <div class="text-muted">Müəllif hüquqları &copy; İcarə MMC-yə məxsusdur</div>
                        <div>
                            <a href="#">Məxfilik Siyasəti </a>
                            &middot;
                            <a href="#">Qaydalar &amp; Şərtlər</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- ============
    Footer End
    ============ -->

    <script src="~/PublicFront/Vendors/bootstrap/js/bootstrap.js"></script>
    <script src="~/PublicFront/Vendors/Js/app.js"></script>

</body>

</html>