@{
    ViewBag.Title = "Home Page";
}
<!-- ============
Information
============ -->
<div class="Description">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="Information">
                    <p><i class="fas fa-angle-double-right"></i> Icarə və digər ödənişlər</p>
                    <p><i class="fas fa-angle-double-right"></i> Kredit və bank kartı ilə ödəniş</p>
                    <p><i class="fas fa-angle-double-right"></i> Tək çəkim və taksitli seçimlər</p>
                    <p><i class="fas fa-angle-double-right"></i> Əlverişli komissiya faizləri</p>
                    <p><i class="fas fa-angle-double-right"></i> Sürətli və asan interfeys</p>
                    <p><i class="fas fa-angle-double-right"></i> Şəxsi məlumatların məxfiliyi</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="FlexImg">
                    <img src="~/PublicFront/Vendors/image/back.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ============
Services
============ -->
<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ServicesName">
                    <h5>Xidmətlər</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/ev emanet.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Bank və sığorta xidmətləri
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/consultasiya.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Fərdi konsultasiya xidməti
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/evez edici odenis.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Icarə və digər ödənişlər
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/muqavile.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Elektron icarə müqaviləsi
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/Programmer.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Müştərilər arasında davamlı əlaqə
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="serv">
                            <div class="SevricesType">
                                <img src="~/PublicFront/Vendors/image/kartla odenis.svg" alt="">
                                <h6>
                                    <a href="#">
                                        Qanun və yeniliklər
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>