
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="ServiceInfo">
        <div class="container">
            <div class="row">
                <div class="card mt-5 mb-2" style="width: 100%; box-shadow: 0rem 0rem 4rem 8px rgb(25 23 112 / 0.27)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h1 style="color:#191970;" class="card-title">Bank və sığorta xidmətləri</h1>
                            </div>
                            <div class="col-md-6 mb-5">
                                <i style="color: #191970; font-size: 90px" class="fas fa-house-damage d-flex justify-content-end"></i>
                            </div>
                            <div class="col-md-12">
                                <p style="font-size:20px; color: #191970e6;"  class="card-text">
                                    _____İcbari Sığorta Bürosu zərərçəkən sığorta olunanların və zərər vurulan
                                    üçüncü şəxslərin maraqlarının müdafiəsini, icbari sığorta sisteminin
                                    sabitliyi və inkişafını təmin etmək üçün, habelə “İcbari sığortalar haqqında”
                                    Qanunla nəzərdə tutulan funksiyaların həyata keçirilməsi məqsədilə həmin qanunun
                                    tələbləri nəzərə alınmaqla Azərbaycan Respublikasının Mülki Məcəlləsinə
                                    uyğun olaraq hüquqi şəxslərin ittifaqı kimi təsis edilib və fəaliyyət göstərir.
                                </p>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə yaddaş vərəqəsi
                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortasışəhadətnamə blankı

                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə sığorta şəhadətnaməsinin forması, onun çap olunması və doldurulması qaydaları

                                        </li>
                                        <li>
                                            Daşınmaz əmlakın icbari sığortası üzrə sığorta tariflərinin müəyyənləşdirilməsi qaydası

                                        </li>
                                    </ul>
                                </p>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


